
wiki/encyclopedia/__pycache__/urls.cpython-312.pyc
wiki/encyclopedia/__pycache__/urls.cpython-312.pyc
wiki/encyclopedia/__pycache__/urls.cpython-312.pyc
wiki/encyclopedia/__pycache__/urls.cpython-312.pyc
*.pyc
*.pyc
wiki/encyclopedia/__pycache__/urls.cpython-312.pyc
wiki/encyclopedia/__pycache__/views.cpython-312.pyc
