{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}

{% block body %}
    
    <h1>New Page</h1>

    <form action="{% url 'encyclopedia:newpage' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <h6>Title:</h6>
            <input autofocus required type="text" name="title" placeholder="Page Title">
        </div>
        <div class="form-group">
            <h6>Content:</h6>
            <textarea required name="content" placeholder="Markdown" form="form"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Create Page">
        </div>
    </form>

{% endblock %}